<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <p>Hi, Welcome to the SignUp page</p>
    <p>Today is a {{ day_of_week }}</p>
    <p>The time is {{ current_time}}</p>
</body>
<style>
    body {
        background-color: black;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: yellow;
    }
</style>
</html>